<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<title>Headlines | Baleen</title>
<style>
body, div {
	margin: 0;
	border: 0;
	padding: 0;

	font-family: Helvetica, sans-serif;
}

.tweet {
	padding-top: 0.75em;
	border-bottom: 1px #eee solid;
	padding-bottom:0.25em;
	overflow:hidden;
}


.tweet-profile-image {
	float:left;
}

.tweet-text-block {
	margin-left:60px;
	margin-right: 10px;
}

.tweet-screen-name {
	font-style: italic;
}

.more-tweets {
	/*margin-left:15px;*/
	display: none;
}

.story-active {
	background-color: #F7EBCD;
}

.story-active .more-tweets{
	display: block;
}

.meta {
	color:gray;
	text-align: right;
}

</style>
</head>
<body>
	{{#top}}
	<div class="story">
		<div class="tweet">
			<div  class="tweet-profile-image">
				<a href="https://twitter.com/{{top_tweet.screen_name}}/statuses/{{top_tweet.tweet_id}}">
					<img src="{{top_tweet.profile_image_url}}" width=48 height=48>
				</a>
			</div>
			<div class="tweet-text-block">
				<span class="tweet-screen-name">@{{top_tweet.screen_name}}</span> {{{top_tweet.expanded_text}}} ({{top_tweet.total_impact}})
			</div>
		</div>
		<div class="more-tweets">
		{{#more_tweets}}
			<div class="tweet">
				<div  class="tweet-profile-image">
					<a href="https://twitter.com/{{screen_name}}/statuses/{{tweet_id}}">
						<img data-src="{{profile_image_url}}" class="subtweet-img" width=48 height=48>
					</a>
				</div>
				<div class="tweet-text-block">
					<span class="tweet-screen-name">@{{screen_name}}</span> {{{expanded_text}}} ({{total_impact}})
				</div>
			</div>
		{{/more_tweets}}
		</div>
	</div>
	{{/top}}
	<div class="meta">Last updated <span id="last-updated" data-timestamp="{{meta.last_updated}}">at {{meta.last_updated}}</span></div>
	<div class="meta">Window is {{meta.window_minutes}} minutes long.</div>
<script>
function number_string(n) {
	n = Math.round(n);
	if (n < 10) {
		return ["zero","one","two","three","four","five","six","seven","eight","nine"][n];
	} else {
		return n.toString()
	}
}

function seconds_to_phrase(s) {
	if (s>60*60) {
		return "hours ago";
	} else if (s > 60) {
		var minutes_ago = Math.round(s/60);
		return number_string(minutes_ago) + (minutes_ago > 1 ? " minutes ago" : " minute ago");
	} else if (s > 0) {
		return number_string(s) + " seconds ago";
	} else {
		return "in the mysterious future!";
	}
};

function relativizeLastUpdated() {
	var elem = document.getElementById("last-updated");
	var now_date = new Date();
	var updated_date = new Date(elem.dataset.timestamp);
	var seconds_old = (now_date-updated_date)/1000;

	elem.innerHTML = seconds_to_phrase(seconds_old);
};

relativizeLastUpdated();

function toggleSubtweets(e) {
	var active_story = document.getElementsByClassName("story-active")[0];
	if (active_story) {
		active_story.classList.remove("story-active");
	}
	if (active_story != this) {
		this.classList.add("story-active");
		this.scrollIntoView(true);
	} else {
		active_story.scrollIntoView(true);
	}
	Array.prototype.forEach.call(this.getElementsByClassName("subtweet-img"),
		function(i) {
			i.setAttribute("src",i.dataset.src);
		});
}

Array.prototype.forEach.call(document.getElementsByClassName("story"), 
	function(e){
		e.addEventListener("click",toggleSubtweets);
		e.addEventListener("touch",toggleSubtweets);
	});

function stopBubbling(e) {
	e.stopPropagation();
}

Array.prototype.forEach.call(document.getElementsByTagName("a"), 
	function(e){
		e.addEventListener("click",stopBubbling);
		e.addEventListener("touch",stopBubbling);
	});

</script>
</body>
</html>