<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<title>Headlines | Baleen</title>
<style>
body, div {
	margin: 0;
	border: 0;
	padding: 0;

	font-family: Helvetica, sans-serif;
}

.content {
	max-width:40em;
	margin: auto;
}

.tweet {
	padding-top: 0.75em;
	border-bottom: 1px #eee solid;
	padding-bottom:0.25em;
	overflow:hidden;
	display:none;
}

.story>.tweet:first-child,
.story-active .tweet {
	display: block;
}

.children {
	margin-left: 15px;
}

a {
	color: #333;
}

a:visited {
	color: #999;
}

.deleted {
	text-decoration: line-through;
}

.tweet-profile-image {
	float:left;
}

.tweet-text-block {
	margin-left:60px;
	margin-right: 10px;
}

.tweet-screen-name {
	font-style: italic;
}

.tweet-timestamp {
	color:gray;
	font-size: 0.8em;
	font-style:italic;
	display:inline-block;
}

.media-image {
	padding-top:0.25em;
}


.story-active {
	background-color: #FAFAF0;
}

.meta {
	color:gray;
	text-align: right;
}

</style>
</head>
<body>
	<div class="content">
	{{#top}}
	<div class="story">
		{{#tweets}}
			{{> tweet}}
		{{/tweets}}
	</div>
	{{/top}}
	{{#meta}}
	<div class="meta">Freshest tweet <span id="last-updated" class="relativize" data-timestamp="{{last_updated}}">at {{last_updated}}</span></div>
	<div class="meta">Window is {{window_minutes}} minutes long.</div>
	{{#expand_queue}}<div class="meta">Expand queue length: {{expand_queue}}</div>{{/expand_queue}}
	{{/meta}}
	</div>
<script>
function number_string(n,unit) {
	n = Math.round(n);
	var numstr;
	if (n < 10) {
		numstr = ["zero","one","two","three","four","five","six","seven","eight","nine"][n];
	} else {
		numstr = n.toString()
	}
	if (n>1) {
		unit += "s";
	}
	return numstr + " " + unit + " ago"
}

function seconds_to_phrase(s) {
	var units = {day:60*60*24,
				 hour:60*60,
				 minute:60,
				 second:1};
	for (var u in units) {
		if (s>units[u]) {
			return number_string(Math.round(s/units[u]),u);
		}
	}
	return "tomorrow";
};

function relativize(elem) {
	var now_date = new Date();
	var updated_date = new Date(elem.dataset.timestamp);
	var seconds_old = (now_date-updated_date)/1000;

	elem.innerHTML = seconds_to_phrase(seconds_old);
};

Array.prototype.forEach.call(document.getElementsByClassName("relativize"), relativize);

function storyScroll(story) {
	var elem = story.getElementsByClassName("tweet")[0];
	if (elem.scrollIntoViewIfNeeded) {
		elem.scrollIntoViewIfNeeded()
	} else {
		elem.scrollIntoView(true)
	}
}

function lazyLoad() {
	Array.prototype.forEach.call(document.querySelectorAll(".story>.tweet:first-child img:not([src]), .story-active .tweet img:not([src])"),
		function(i) {
			i.setAttribute("src",i.dataset.src);
		});
}
lazyLoad();

function toggleSubtweets(e) {
	var active_story = document.getElementsByClassName("story-active")[0];
	if (active_story) {
		active_story.classList.remove("story-active");
	}
	if (active_story != this) {
		this.classList.add("story-active");
		storyScroll(this);
	} else {
		storyScroll(active_story);
	}
	lazyLoad();
}

Array.prototype.forEach.call(document.getElementsByClassName("story"), 
	function(e){
		e.addEventListener("click",toggleSubtweets);
		e.addEventListener("touch",toggleSubtweets);
	});

function stopBubbling(e) {
	e.stopPropagation();
}

Array.prototype.forEach.call(document.getElementsByTagName("a"), 
	function(e){
		e.addEventListener("click",stopBubbling);
		e.addEventListener("touch",stopBubbling);
	});

</script>
</body>
</html>